{% extends 'crypto/base.html' %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Crypto portfolio</h1>
  <p class="lead">Create and view your crypto portfolio online here at Crypto Watcher</p>
  <p>Easy, fast and secure!</p>
  {% if user.is_authenticated %}
  <a class="btn btn-secondary btn-lg" href="{% url 'crypto:create' %}" role="button">Create portfolio</a>
  {% else %}
  <a class="btn btn-secondary btn-lg" href="{% url 'login' %}" role="button">Log in and view your portfolios</a><br><br>
  <a class="btn btn-secondary btn-lg" href="{% url 'register' %}" role="button">Sign up and create a portfolio</a>
  {% endif %}
</div>

{% endblock %}
