{% extends 'crypto/base.html' %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-3">Almost done!</h1>
  <p class="lead">Please secure your portfolio by setting a password</p>
  <p>Your portfolio ID: {{ new_portfolio.id }}</p>
</div>
<form method="POST" action="{% url 'crypto:portfolio_edit' new_portfolio.id%}">
  <div class="form-group row">
    <label for="inputPassword" class="col-lg-1 col-form-label">Password:</label>
    <div class="col-lg-3">
      {% csrf_token %}
      <input type="password" class="form-control" aria-describedby="PasswordHelp" id="inputPassword" placeholder="Password" name="new_password">
      <small id="PasswordHelp" class="form-text text-muted">Please use between 8-20 characters</small>
    </div>
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>

{% endblock %}
