{% extends 'crypto/base.html' %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome {{user.username}} to your profile.</h1>
  <p class="lead">Here you can create, view and edit your portfolios.</p>
  <a class="btn btn-secondary btn-lg" href="{% url 'crypto:create' %}" role="button">Create portfolio</a>
</div>
  {% for portfolio in portfolios %}
    <div class="form-row">
      <div class="col-auto my-1">
        <h3>{{ portfolio.name }}</h3>
      </div>
      <div class="col my-1">
        <a class="btn btn-secondary float-right"  href="{% url 'crypto:edit' portfolio.id%}" role="button">Edit portfolio</a>
      </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Coin symbol</th>
          <th scope="col">$ Invested</th>
          <th scope="col">Coin amount</th>
          <th scope="col">Current Price</th>
          <th scope="col">Break-even price</th>
          <th scope="col">Worth</th>
        </tr>
      </thead>
      <tbody>
        {% for key, coin_sets in crypto_coins.items %}
          {% if key == portfolio.id %}
            {% for coin in coin_sets %}
              <tr>
                <td>{{ coin.coin_symbol }}</td>
                <td>{{ coin.coin_investment }}</td>
                <td>{{ coin.coin_amount }}</td>
                <td>{{ coin.price }} $</td>
                <td>{{ coin.break_even_price }} $</td>
                <td>{{ coin.worth }} $</td>
              </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table><br><br><br>
  {% endfor %}
{% endblock %}
