{% extends 'crypto/base.html' %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Crypto portfolio</h1>
  <p class="lead">Create and view your crypto portfolio online here at Crypto Watcher</p>
  <p>Easy, fast and secure!</p>
  <a class="btn btn-secondary btn-lg" href="{% url 'crypto:portfolio_create' %}" role="button">Create portfolio</a>
</div>

{% if notfound %}<p><strong>{{ notfound }}</strong></p>{% endif %}

  <form method="POST" action="{% url 'crypto:portfolio' %}">
    <div class="form-group row">
      {% csrf_token %}
      <label for="portfolioSearch" class="col-lg-2 col-form-label">Enter portfolio id:</label>
      <input class="form-control col-lg-3" type="search" id="portfolioSearch" placeholder="ID" aria-label="Search" name="portfolio_id">
    </div>
    <button class="btn btn-secondary" type="submit">Search</button>
  </form>

{% endblock %}
