{% extends 'crypto/base.html' %}
{% block content %}

{% if password_correct %}

  Your portfolio id is {{ portfolio_id }}
  <br>
  Hello and welcome to your portfolio

{% elif password_incorrect %}

  <p><strong>Wrong password. Try again.</strong></p>

  <form method="POST" action="{% url 'crypto:portfolio_edit' portfolio_id%}">
    <div class="form-group row">
      {% csrf_token %}
      <label for="inputPassword" class="col-lg-2 col-form-label">Portfolio password:</label>
      <input class="form-control col-lg-3" type="password" id="inputPassword" placeholder="Password" name="portfolio_password">
    </div>
    <button class="btn btn-secondary" type="submit">Submit</button>
  </form>

{% else %}
  <p><strong>{{ type_password }}</strong></p>
  <form method="POST" action="{% url 'crypto:portfolio_edit' portfolio_id%}">
    <div class="form-group row">
      {% csrf_token %}
      <label for="inputPassword" class="col-lg-2 col-form-label">Portfolio password:</label>
      <input class="form-control col-lg-3" type="password" id="inputPassword" placeholder="Password" name="portfolio_password">
    </div>
    <button class="btn btn-secondary" type="submit">Submit</button>
  </form>

{% endif %}

<!--
<form>
    <div class="form-group row">
      <label for="coin" class="col-lg-2 col-form-label">Coin symbol:</label>
      <div class="col-lg-3">
        <input type="email" class="form-control" id="coin" placeholder="Enter coin">
      </div>
    </div>
    <div class="form-group row">
      <label for="amount" class="col-lg-2 col-form-label">Amount:</label>
      <div class="col-lg-3">
        <input type="email" class="form-control" id="amount" placeholder="Enter coin amount">
      </div>
    </div>
    <div class="form-group row">
      <label for="investment" class="col-lg-2 col-form-label">Invested:</label>
      <div class="col-lg-3">
        <input type="email" class="form-control" id="investment" placeholder="Enter $ invested">
      </div>
    </div>
</form>
-->

{% endblock %}
