{% extends 'crypto/base.html' %}
{% block content %}

{% if coin.Response %}
    Sorry, {{ quote }} doesn't exist. Please try again.
{% endif %}
{% for key,value in coin.DISPLAY.items %}

  <div class="jumbotron">
    <h1 class="display-4">{{ key }}</h1>
    <strong>Price: </strong>{{ value.USD.PRICE }}<br>
    <strong>Day High: </strong>{{ value.USD.HIGHDAY }}<br>
    <strong>Day Low: </strong>{{ value.USD.LOWDAY }}<br>
    <strong>Market Cap: </strong>{{ value.USD.MKTCAP }}<br>
    <strong>Supply: </strong>{{ value.USD.SUPPLY }}<br>
  </div>

{% endfor %}

{% endblock %}
